<h1>WheresMoBike</h1>

<p>ASDF</p>

<h2>Tell us about your bike</h2>


<%= form_tag '/search',
             :id => 'search-form',
             :multipart => true,
             :remote => true,
             :method => :post do %>

<div>
  <%= label_tag :file %><%= file_field_tag :picture %>
</div>

<div><%= submit_tag 'Find my bike!', :class => 'btn' %></div>

<% end %>

<div id="loading-search" style="display: none;">
Please, wait while we look for similar bikes...
<div class="image"><%= image_tag 'loading-search.gif' %></div>
</div>

<div id="search-results" style="display: none;">Found Everything!</div>
