<!DOCTYPE html>
<html>
<head>
  <title>WheresMoBike</title>
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar" id="show-one" style="margin-bottom:0px; display:none;">
    <div class="navbar-inner">
      <a class="brand" href="/">WheresMoBike</a>
      <ul class="nav">
        <%= navigation :home, "/" %>
        <%= navigation :about, "/about" %>
      </ul>
    </div>
  </div>

  <header class="jumbotron subhead" id="show-two" style="display:none;">
    <div class="container">
      <h1>WheresMoBike</h1>
      <p class="lead"> <span style="background-color:rgba(0, 0, 0,0.5);">WheresMoBike is a service to help people looking for their stolen
        bikes.<span> <a href="/about" style="color:#78EDFF">Learn more »</a></p>
    </div>
  </header>

  <div class="container" id="show-three" style="display:none;">
    <%= yield %>
  </div>

</body>
</html>
